<div id="login" class="background">
  <div id="landing">
    <div id="tagline" class="col-md-7 col-md-offset-5">
      <h2>Insert Tagline</h2>
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis ligula ut arcu aliquet dictum. Nunc libero sem, luctus non risus a, volutpat malesuada orci. Etiam sollicitudin dui nec nibh malesuada gravida. Morbi sollicitudin id odio in ultrices. Nullam sagittis velit nec bibendum pellentesque.
        Nunc libero sem, luctus non risus a, volutpat malesuada orci. Etiam sollicitudin dui nec nibh malesuada gravida. Morbi sollicitudin id odio in ultrices. Nullam sagittis velit nec bibendum pellentesque.
      </h5>
      <form id="sign-in-form">
        <div class="inline-input">
          <input type="text" class="form-control login-width" id="email" placeholder="Email" ng-model='email'>
          <input type="password" class="form-control login-width" id="password" placeholder="Password" ng-model="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block" ng-click="login()">Login</button>
      </form>
    </div>
  </div>
</div>
