<div id="login" class="landing">
  <div style="padding:120px 100px;display:flex;color:#5F6263">
    <div class="col-md-7 col-md-offset-5" style="padding-right:20px">
      <h2>Insert Tagline</h2>
      <h5>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis ligula ut arcu aliquet dictum. Nunc libero sem, luctus non risus a, volutpat malesuada orci. Etiam sollicitudin dui nec nibh malesuada gravida. Morbi sollicitudin id odio in ultrices. Nullam sagittis velit nec bibendum pellentesque.
        Nunc libero sem, luctus non risus a, volutpat malesuada orci. Etiam sollicitudin dui nec nibh malesuada gravida. Morbi sollicitudin id odio in ultrices. Nullam sagittis velit nec bibendum pellentesque.
      </h5>
      <form class=""style="margin-top:20px">
        <div style="display:flex;justify-content: space-between">
          <input type="text" class="form-control" id="email" placeholder="Email" style="width:49%;" ng-model='username'>
          <input type="text" class="form-control" id="password" placeholder="Password" style="width:49%;" ng-model="password">
        </div>
        <button type="submit" class="btn btn-primary btn-block" style="margin-top:10px" ng-click="login()">Login</button>
      </form>
    </div>
  </div>
</div>
