<div id="report">
  <div class="container page-padding admin-width">
    <div id="print-section-1" style="overflow:hidden">
      <div class="row">
        <div class="col-md-12 page-header" style="margin-bottom:0">
          Welcome {{adminID}}
        </div>
        <div class="col-md-12 text-center font-md" style="margin-bottom:20px">
          You are viewing report for <span class="bold">{{studentInfo.StudentName}}</span>
          <div>Test Name: {{studentInfo.examname}}, Version: {{studentInfo.examversion}}</div>
        </div>
      </div>
      <div style="border:3px solid red;width:62.5%;float:left;padding-bottom:50px;padding-left:10px">
        <!--MATH-->
        <div class="" style="width:20%;float:left">
          <div id="total-score-section" style="text-align:center;height:100%;">
              <div class="bold font-exlg">{{totalScores.TotalMathScore}}</div>
              <div style="padding-bottom:5px">MATH</div>
          </div>
          <div class="bar-container">
            <div class="goal-bar">
              <div class="bar-wrap">
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <!-- <hr class="bar-line" /> -->


                <div class="bar bar-green" style="{{barStyleMath}}"></div>
                <span class="bar-label"></span>
              </div>

              <div class="bar-labels">
                <span class="bar-label">36</span>
                <span class="bar-label">30</span>
                <span class="bar-label">24</span>
                <span class="bar-label">18</span>
                <span class="bar-label">12</span>
                <span class="bar-label">6</span>
                <span class="bar-label">1</span>
              </div>
            </div> <!-- /.goal-bar -->
          </div>
        </div>
        <!--SCIENCE-->
        <div class="" style="width:20%;float:left">
          <div id="total-score-section" style="text-align:center;height:100%">
              <div class="bold font-exlg">{{totalScores.TotalScienceScore}}</div>
              <div style="padding-bottom:5px">SCIENCE</div>
          </div>
          <div class="bar-container">
            <div class="goal-bar">
              <div class="bar-wrap">
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />

                <div class="bar bar-green" style="{{barStyleScience}}"></div>
                <span class="bar-label"></span>
              </div>

              <div class="bar-labels">
                <span class="bar-label">36</span>
                <span class="bar-label">30</span>
                <span class="bar-label">24</span>
                <span class="bar-label">18</span>
                <span class="bar-label">12</span>
                <span class="bar-label">6</span>
                <span class="bar-label">1</span>
              </div>
            </div> <!-- /.goal-bar -->
          </div>
        </div>
        <!--ENGLISH-->
        <div class="" style="width:20%;float:left">
          <div id="total-score-section" style="text-align:center;height:100%">
              <div class="bold font-exlg">{{totalScores.TotalEngishScore}}</div>
              <div style="padding-bottom:5px">ENGLISH</div>
          </div>
          <div class="bar-container">
            <div class="goal-bar">
              <div class="bar-wrap">
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />

                <div class="bar bar-blue" style="{{barStyleEnglish}}"></div>
                <span class="bar-label"></span>
              </div>

              <div class="bar-labels">
                <span class="bar-label">36</span>
                <span class="bar-label">30</span>
                <span class="bar-label">24</span>
                <span class="bar-label">18</span>
                <span class="bar-label">12</span>
                <span class="bar-label">6</span>
                <span class="bar-label">1</span>
              </div>
            </div> <!-- /.goal-bar -->
          </div>
        </div>
        <!--READING-->
        <div class="" style="width:20%;float:left">
          <div id="total-score-section" style="text-align:center;height:100%">
              <div class="bold font-exlg">{{totalScores.TotalReadingScore}}</div>
              <div style="padding-bottom:5px">READING</div>
          </div>
          <div class="bar-container">
            <div class="goal-bar">
              <div class="bar-wrap">
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />

                <div class="bar bar-blue" style="{{barStyleReading}}"></div>
                <span class="bar-label"></span>
              </div>

              <div class="bar-labels">
                <span class="bar-label">36</span>
                <span class="bar-label">30</span>
                <span class="bar-label">24</span>
                <span class="bar-label">18</span>
                <span class="bar-label">12</span>
                <span class="bar-label">6</span>
                <span class="bar-label">1</span>
              </div>
            </div> <!-- /.goal-bar -->
          </div>
        </div>
        <!--COMPOSITE-->
        <div class="" style="width:20%;float:left">
          <div id="total-score-section" style="text-align:center;background-color:#b0aac2;height:100%">
            <div class="bold font-exlg" style="color:white">{{totalScores.TotalCompositeScore}}</div>
            <div style="padding-bottom:5px;color:white">COMPOSITE</div>
          </div>
          <div class="bar-container">
            <div class="goal-bar">
              <div class="bar-wrap">
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />

                <div class="bar bar-purple" style="{{barStyleComposite}}"></div>
                <span class="bar-label"></span>
              </div>

              <div class="bar-labels">
                <span class="bar-label">36</span>
                <span class="bar-label">30</span>
                <span class="bar-label">24</span>
                <span class="bar-label">18</span>
                <span class="bar-label">12</span>
                <span class="bar-label">6</span>
                <span class="bar-label">1</span>
              </div>
            </div> <!-- /.goal-bar -->
          </div>
        </div>
      </div>
      <div style="width:12.5%;float:left;padding-bottom:50px;padding-left:10px">
        <!--STEM-->
        <div class="" style="width:100%;">
          <div id="total-score-section" style="text-align:center;height:100%">
              <div class="bold font-exlg">{{totalScores.TotalStemScore}}</div>
              <div style="padding-bottom:5px">STEM</div>
          </div>
          <div class="bar-container">
            <div class="goal-bar">
              <div class="bar-wrap" style="background-color:#c2d4d8">
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />

                <div class="bar bar-green" style="{{barStyleStem}}"></div>
                <span class="bar-label"></span>
              </div>

              <div class="bar-labels">
                <span class="bar-label">36</span>
                <span class="bar-label">30</span>
                <span class="bar-label">24</span>
                <span class="bar-label">18</span>
                <span class="bar-label">12</span>
                <span class="bar-label">6</span>
                <span class="bar-label">1</span>
              </div>
            </div> <!-- /.goal-bar -->
          </div>
        </div>
      </div>
      <div style=";width:25%;float:left;padding-bottom:50px;padding-left:10px">
        <!--WRITING-->
        <div class="" style="width:50%;float:left">
          <div id="total-score-section" style="text-align:center;height:100%">
              <div class="bold font-exlg">{{totalScores.TotalWritingScore}}</div>
              <div style="padding-bottom:5px">WRITING</div>
          </div>
          <div class="bar-container">
            <div class="goal-bar">
              <div class="bar-wrap" style="border-top:0px;border-bottom:0px;background-color:#f2efe8">
                <div style="position:absolute;text-align:center; margin-top:150px;padding-left:15px;padding-right:15px">The writing test score range is 2-12</div>
                <hr class="bar-line" style="top:95%"/>
                <hr class="bar-line" style="top:83.3%"/>
                <hr class="bar-line" style="top:66.7%"/>
                <!-- <hr class="bar-line" style="top:50%"/> -->
                <!-- <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" /> -->

                <div class="bar bar-blue" style="{{barStyleWriting}}"></div>
                <span class="bar-label"></span>
              </div>

              <div class="bar-labels">
                <span class="bar-label"></span>
                <span class="bar-label"></span>
                <span class="bar-label"></span>
                <span class="bar-label"></span>
                <span class="bar-label">12</span>
                <span class="bar-label">6</span>
                <span class="bar-label" style="top:96.5%">2</span>
              </div>
            </div> <!-- /.goal-bar -->
          </div>
        </div>
        <!--ELA-->
        <div class="" style="width:50%;float:left">
          <div id="total-score-section" style="text-align:center;height:100%">
              <div class="bold font-exlg">{{totalScores.TotalELAScore}}</div>
              <div style="padding-bottom:5px">ELA</div>
          </div>
          <div class="bar-container">
            <div class="goal-bar">
              <div class="bar-wrap" style="background-color:#dbe9d8">
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />
                <hr class="bar-line" />

                <div class="bar bar-blue" style="{{barStyleELA}}"></div>
                <span class="bar-label"></span>
              </div>

              <div class="bar-labels">
                <span class="bar-label">36</span>
                <span class="bar-label">30</span>
                <span class="bar-label">24</span>
                <span class="bar-label">18</span>
                <span class="bar-label">12</span>
                <span class="bar-label">6</span>
                <span class="bar-label">1</span>
              </div>
            </div> <!-- /.goal-bar -->
          </div>
        </div>
      </div>
      <div id="test-score-wording" class="col-md-6 col-md-offset-6">
        <span class="bold">Student Name:</span> {{totalScores.studentName}}</br>
        <span class="bold">Student ID:</span> {{totalScores.studentid}}</br>
        <span class="bold">Grade:</span> {{totalScores.Grade}}</br>
        <span class="bold">School Name:</span> {{totalScores.SchoolName}}</br>
        <span class="bold">School Code:</span> {{totalScores.SchoolCode}}</br>
        <span class="bold">Test #:</span> {{totalScores.testNumber}}</br>
        <span class="bold">Test Score:</span> {{totalScores.TotalPSATScore}}</br>
        <span class="bold">Test Date:</span> {{totalScores.testDate}}
      </div>
      <div style="clear:both"></div>
    </div>
    <!--question level feedback answers-->
    <div class="row section-margin">
      <div class="col-md-12 font-lg section-title">
        Your Question-Level Feedback
      </div>
      <div class="col-md-12 text-center font-md" style="margin-bottom:20px">
        Change answer input below and recalculate for projected score <br>
        <span class="bold">Actual Score:</span> {{totalScores.TotalCompositeScore}}
        <button class="btn btn-danger" ng-click="calculate()">Recalculate</button>
        <button class="btn btn-primary" ng-click="printToPdf()"><i class="fa fa-save"></i> Save as PDF</button>
        <span class="bold">
          Projected Score:</span> <span ng-hide="recalc">N/A</span><span ng-show="recalc" style="color:red">{{projectedScore.projectedscore}}</span>
      </div>
      <div id="print-section-2" style="margin-top:110px">
        <div class="col-md-12">
          <div class="text-center font-md bold">Test Name: {{studentInfo.examname}}, Version: {{studentInfo.examversion}}</div>
        </div>

        <!--reading-->
        <div style="width:20%;float:left;">
          <div class="col-md-12 question-icon">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#9C27B0"></i>
              <i class="fa fa-book fa-stack-1x fa-inverse" style="border-radius:50%;box-shadow: 0px 0px 5px 0px #9C27B0"></i>
            </span>
          </div>
          <div class="col-md-12 text-center">
            <div><span class="bold">Allocated Time:</span> {{totalScores.SectionOneAllocatedTime}}</div>
          </div>
          <div class="col-md-12 text-center">
            <div><span class="bold">Actual Time:</span> {{totalScores.SectionOneActualTime}}</div>
          </div>
          <div class="col-md-12 question-table">
            <div class="question-table-rows">
              <div class="question-table-header"><div class="question-table-header-text">Question #</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Correct</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Your Answer</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Adjusted Ans.</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Difficulty</div></div>
              <!-- <div class="question-table-header"><div class="question-table-header-text-budget">Budget Time</div></div> -->
              <div class="question-table-header"><div class="question-table-header-text-actual">Actual Time</div></div>
              <div class="question-table-header"><div class="question-table-header-text-subscore">Subscore</div></div>
              <div class="question-table-header-no-border"><div class="question-table-header-text-crosstest"> Cross-Test </br>Score</div></div>
            </div>
            <div class="question-table-rows" ng-repeat="readingScore in readingScoresArr | limitTo:38">
              <div ng-if="readingScore.correctAnswer==='TRUE'" class="question-table-cell question-number">{{readingScore.questionNumber}}</div>
              <div ng-if="readingScore.correctAnswer==='FALSE' || readingScore.StudentAnswer===null" class="question-table-cell">
                <div class="question-number-false">{{readingScore.questionNumber}}</div>
              </div>
              <div class="question-table-cell">{{readingScore.answerOne}}</div>
              <div class="question-table-cell-answer">
                <div ng-if="readingScore.correctAnswer==='TRUE'">
                  <span>{{readingScore.StudentAnswer}}</span>
                </div>
                <div ng-if="readingScore.correctAnswer==='FALSE'">
                  <span class="question-answer-false bold">{{readingScore.StudentAnswer}}</span>
                </div>
              </div>
              <div class="question-table-cell">
                <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(readingScore)" ng-model="readingScore.adjustedAnswer" maxlength="1">
              </div>
              <div class="question-table-cell vertical-align">
                <span class="question-difficulty" ng-if="readingScore.diffLevel==='E'">
                  <div class="question-difficulty-icon easy"></div>
                </span>
                <span class="question-difficulty" ng-if="readingScore.diffLevel==='M'">
                  <div class="question-difficulty-icon med"></div>
                </span>
                <span class="question-difficulty" ng-if="readingScore.diffLevel==='H'">
                  <div class="question-difficulty-icon hard"></div>
                </span>
              </div>
              <!-- <div class="question-table-cell question-subscore">{{readingScore.BudgetTime}}</div> -->
              <div class="question-table-cell-duration">
                <div ng-if="readingScore.correctAnswer==='FALSE'">
                  <div class="bold" style="color:blue">{{readingScore.duration}}</div>
                </div>
                <div ng-if="readingScore.correctAnswer==='TRUE'">
                  <div class="">{{readingScore.duration}}</div>
                </div>
              </div>
              <div class="question-table-cell question-subscore">{{readingScore.subscore}}</div>
              <div class="question-table-cell-last">{{readingScore.CrossReferenceScore}}</div>
            </div>
          </div>
        </div>
        <!--reading cont-->
        <div style="width:20%;float:left;">
          <div class="col-md-12 question-icon">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#9C27B0"></i>
              <i class="fa fa-book fa-stack-1x fa-inverse" style="border-radius:50%;box-shadow: 0px 0px 5px 0px #9C27B0"></i>
            </span>
          </div>
          <div class="col-md-12 text-center">
            <div><span class="bold">Allocated Time:</span> {{totalScores.SectionOneAllocatedTime}}</div>
          </div>
          <div class="col-md-12 text-center">
            <div><span class="bold">Actual Time:</span> {{totalScores.SectionOneActualTime}}</div>
          </div>
          <div class="col-md-12 question-table">
            <div class="question-table-rows">
              <div class="question-table-header"><div class="question-table-header-text">Question #</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Correct</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Your Answer</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Adjusted Ans.</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Difficulty</div></div>
              <!-- <div class="question-table-header"><div class="question-table-header-text-budget">Budget Time</div></div> -->
              <div class="question-table-header"><div class="question-table-header-text-actual">Actual Time</div></div>
              <div class="question-table-header"><div class="question-table-header-text-subscore">Subscore</div></div>
              <div class="question-table-header-no-border"><div class="question-table-header-text-crosstest"> Cross-Test </br>Score</div></div>
            </div>
            <div class="question-table-rows" ng-repeat="readingScore in readingScoresArr | limitTo: (38-readingScoresArr.length)">
              <div ng-if="readingScore.correctAnswer==='TRUE'" class="question-table-cell question-number">{{readingScore.questionNumber}}</div>
              <div ng-if="readingScore.correctAnswer==='FALSE' || readingScore.StudentAnswer===null" class="question-table-cell">
                <div class="question-number-false">{{readingScore.questionNumber}}</div>
              </div>
              <div class="question-table-cell">{{readingScore.answerOne}}</div>
              <div class="question-table-cell-answer">
                <div ng-if="readingScore.correctAnswer==='TRUE'">
                  <span>{{readingScore.StudentAnswer}}</span>
                </div>
                <div ng-if="readingScore.correctAnswer==='FALSE'">
                  <span class="question-answer-false bold">{{readingScore.StudentAnswer}}</span>
                </div>
              </div>
              <div class="question-table-cell">
                <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(readingScore)" ng-model="readingScore.adjustedAnswer" maxlength="1">
              </div>
              <div class="question-table-cell vertical-align">
                <span class="question-difficulty" ng-if="readingScore.diffLevel==='E'">
                  <div class="question-difficulty-icon easy"></div>
                </span>
                <span class="question-difficulty" ng-if="readingScore.diffLevel==='M'">
                  <div class="question-difficulty-icon med"></div>
                </span>
                <span class="question-difficulty" ng-if="readingScore.diffLevel==='H'">
                  <div class="question-difficulty-icon hard"></div>
                </span>
              </div>
              <!-- <div class="question-table-cell question-subscore">{{readingScore.BudgetTime}}</div> -->
              <div class="question-table-cell-duration">
                <!-- <div ng-if="readingScore.budgetTimeFlag==='TRUE'"> -->
                <div ng-if="readingScore.correctAnswer==='FALSE'">
                  <div class="bold" style="color:blue">{{readingScore.duration}}</div>
                </div>
                <div ng-if="readingScore.correctAnswer==='TRUE'">
                  <div class="">{{readingScore.duration}}</div>
                </div>
              </div>
              <div class="question-table-cell question-subscore">{{readingScore.subscore}}</div>
              <div class="question-table-cell-last">{{readingScore.CrossReferenceScore}}</div>
            </div>
          </div>
        </div>
        <!--WRITING-->
        <div style="width:20%;float:left;">
          <div class="col-md-12 question-icon">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x" style="color:#00BCD4"></i>
              <i class="fa fa-pencil fa-stack-1x fa-inverse" style="border-radius:50%;box-shadow: 0px 0px 5px 0px #00BCD4"></i>
            </span>
          </div>
          <div class="col-md-12 text-center">
            <div><span class="bold">Allocated Time:</span> {{totalScores.SectionTwoAllocatedTime}}</div>
          </div>
          <div class="col-md-12 text-center">
            <div><span class="bold">Actual Time:</span> {{totalScores.SectionTwoActualTime}}</div>
          </div>
          <div class="col-md-12 question-table">
            <div class="question-table-rows">
              <div class="question-table-header"><div class="question-table-header-text">Question #</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Correct</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Your Answer</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Adjusted Ans.</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Difficulty</div></div>
              <!-- <div class="question-table-header"><div class="question-table-header-text">Budget Time</div></div> -->
              <div class="question-table-header"><div class="question-table-header-text-actual">Actual Time</div></div>
              <div class="question-table-header"><div class="question-table-header-text-subscore">Subscore</div></div>
              <div class="question-table-header-no-border"><div class="question-table-header-text-crosstest"> Cross-Test </br>Score</div></div>
            </div>
            <div class="question-table-rows" ng-repeat="writingLangScore in writingLangScoresArr">
              <div ng-if="writingLangScore.correctAnswer==='TRUE'" class="question-table-cell question-number">{{writingLangScore.questionNumber}}</div>
              <div ng-if="writingLangScore.correctAnswer==='FALSE' || writingLangScore.StudentAnswer===null" class="question-table-cell">
                <div class="question-number-false">{{writingLangScore.questionNumber}}</div>
              </div>
              <div class="question-table-cell">{{writingLangScore.answerOne}}</div>
              <div class="question-table-cell-answer">
                <div ng-if="writingLangScore.correctAnswer==='TRUE'">
                  <span>{{writingLangScore.StudentAnswer}}</span>
                </div>
                <div ng-if="writingLangScore.correctAnswer==='FALSE'">
                  <span class="question-answer-false bold">{{writingLangScore.StudentAnswer}}</span>
                </div>
              </div>
              <div class="question-table-cell">
                <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(writingLangScore)" ng-model="writingLangScore.adjustedAnswer" maxlength="1">
              </div>
              <div class="question-table-cell vertical-align">
                <span class="question-difficulty" ng-if="writingLangScore.diffLevel==='E'">
                  <div class="question-difficulty-icon easy"></div>
                </span>
                <span class="question-difficulty" ng-if="writingLangScore.diffLevel==='M'">
                  <div class="question-difficulty-icon med"></div>
                </span>
                <span class="question-difficulty" ng-if="writingLangScore.diffLevel==='H'">
                  <div class="question-difficulty-icon hard"></div>
                </span>
              </div>
              <!-- <div class="question-table-cell question-subscore">{{writingLangScore.BudgetTime}}</div> -->
              <div class="question-table-cell-duration">
                <div ng-if="writingLangScore.correctAnswer==='FALSE'">
                  <div class="bold" style="color:blue">{{writingLangScore.duration}}</div>
                </div>
                <div ng-if="writingLangScore.correctAnswer==='TRUE'">
                  <div class="">{{writingLangScore.duration}}</div>
                </div>
              </div>
              <div class="question-table-cell question-subscore">{{writingLangScore.subscore}}</div>
              <div class="question-table-cell-last">{{writingLangScore.CrossReferenceScore}}</div>
            </div>
          </div>
        </div>


        <div style="width:40%;float:left;">
          <div class="row" style="margin:0px">
            <!--MATH NO CALCULATOR-->
            <div style="width:50%;float:left;">
              <div class="col-md-12 question-icon">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-calculator fa-stack-1x"></i>
                  <i class="fa fa-ban fa-stack-2x text-danger"></i>
                </span>
              </div>
              <div class="col-md-12 text-center">
                <div><span class="bold">Allocated Time:</span> {{totalScores.SectionThreeAllocatedTime}}</div>
              </div>
              <div class="col-md-12 text-center">
                <div><span class="bold">Actual Time:</span> {{totalScores.SectionThreeActualTime}}</div>
              </div>
              <div class="col-md-12 question-table">
                <div class="question-table-rows">
                  <div class="question-table-header"><div class="question-table-header-text">Question #</div></div>
                  <div class="question-table-header"><div class="question-table-header-text">Correct</div></div>
                  <div class="question-table-header"><div class="question-table-header-text">Your Answer</div></div>
                  <div class="question-table-header"><div class="question-table-header-text">Adjusted Ans.</div></div>
                  <div class="question-table-header"><div class="question-table-header-text">Difficulty</div></div>
                  <!-- <div class="question-table-header"><div class="question-table-header-text">Budget Time</div></div> -->
                  <div class="question-table-header"><div class="question-table-header-text-actual">Actual Time</div></div>
                  <div class="question-table-header"><div class="question-table-header-text-subscore">Subscore</div></div>
                  <div class="question-table-header-no-border"><div class="question-table-header-text-crosstest"> Cross-Test </br>Score</div></div>
                </div>
                <div class="question-table-rows" ng-repeat="mathNoCalScore in mathNoCalScoresArr">
                  <div ng-if="mathNoCalScore.correctAnswer==='TRUE'" class="question-table-cell question-number">{{mathNoCalScore.questionNumber}}</div>
                  <div ng-if="mathNoCalScore.correctAnswer==='FALSE' || mathNoCalScore.StudentAnswer===null" class="question-table-cell">
                    <div class="question-number-false">{{mathNoCalScore.questionNumber}}</div>
                  </div>
                  <div class="question-table-cell">{{mathNoCalScore.answerOne}}</div>
                  <div class="question-table-cell-answer">
                    <div ng-if="mathNoCalScore.correctAnswer==='TRUE'">
                      <span>{{mathNoCalScore.StudentAnswer}}</span>
                    </div>
                    <div ng-if="mathNoCalScore.correctAnswer==='FALSE'">
                      <span class="question-answer-false bold">{{mathNoCalScore.StudentAnswer}}</span>
                    </div>
                  </div>
                  <div class="question-table-cell">
                    <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(mathNoCalScore)" ng-model="mathNoCalScore.adjustedAnswer" maxlength="1">
                  </div>
                  <div class="question-table-cell vertical-align">
                    <span class="question-difficulty" ng-if="mathNoCalScore.diffLevel==='E'">
                      <div class="question-difficulty-icon easy"></div>
                    </span>
                    <span class="question-difficulty" ng-if="mathNoCalScore.diffLevel==='M'">
                      <div class="question-difficulty-icon med"></div>
                    </span>
                    <span class="question-difficulty" ng-if="mathNoCalScore.diffLevel==='H'">
                      <div class="question-difficulty-icon hard"></div>
                    </span>
                  </div>
                  <!-- <div class="question-table-cell question-subscore">{{mathNoCalScore.BudgetTime}}</div> -->
                  <div class="question-table-cell-duration">
                    <div ng-if="mathNoCalScore.correctAnswer==='FALSE'">
                      <div class="bold" style="color:blue">{{mathNoCalScore.duration}}</div>
                    </div>
                    <div ng-if="mathNoCalScore.correctAnswer==='TRUE'">
                      <div class="">{{mathNoCalScore.duration}}</div>
                    </div>
                  </div>
                  <div class="question-table-cell question-subscore">{{mathNoCalScore.subscore}}</div>
                  <div class="question-table-cell-last">{{mathNoCalScore.CrossReferenceScore}}</div>
                </div>
              </div>
            </div>
            <!--MATH CALCULATOR-->
            <div style="width:50%;float:left;">
              <div class="col-md-12 question-icon">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x" style="color:#FF5722"></i>
                  <i class="fa fa-calculator fa-stack-1x fa-inverse" style="border-radius:50%;box-shadow: 0px 0px 5px 0px #FF5722"></i>
                </span>
              </div>
              <div class="col-md-12 text-center">
                <div><span class="bold">Allocated Time:</span> {{totalScores.SectionFourAllocatedTime}}</div>
              </div>
              <div class="col-md-12 text-center">
                <div><span class="bold">Actual Time:</span> {{totalScores.SectionFourActualTime}}</div>
              </div>
              <div class="col-md-12 question-table">
                <div class="question-table-rows">
                  <div class="question-table-header"><div class="question-table-header-text">Question #</div></div>
                  <div class="question-table-header"><div class="question-table-header-text">Correct</div></div>
                  <div class="question-table-header"><div class="question-table-header-text">Your Answer</div></div>
                  <div class="question-table-header"><div class="question-table-header-text">Adjusted Ans.</div></div>
                  <div class="question-table-header"><div class="question-table-header-text">Difficulty</div></div>
                  <!-- <div class="question-table-header"><div class="question-table-header-text">Budget Time</div></div> -->
                  <div class="question-table-header"><div class="question-table-header-text-actual">Actual Time</div></div>
                  <div class="question-table-header"><div class="question-table-header-text-subscore">Subscore</div></div>
                  <div class="question-table-header-no-border"><div class="question-table-header-text-crosstest"> Cross-Test </br>Score</div></div>
                </div>
                <div class="question-table-rows" ng-repeat="mathCalScore in mathCalScoresArr">
                  <div ng-if="mathCalScore.correctAnswer==='TRUE'" class="question-table-cell question-number">{{mathCalScore.questionNumber}}</div>
                  <div ng-if="mathCalScore.correctAnswer==='FALSE' || mathCalScore.StudentAnswer===null" class="question-table-cell">
                    <div class="question-number-false">{{mathCalScore.questionNumber}}</div>
                  </div>
                  <div class="question-table-cell">{{mathCalScore.answerOne}}</div>
                  <div class="question-table-cell-answer">
                    <div ng-if="mathCalScore.correctAnswer==='TRUE'">
                      <span>{{mathCalScore.StudentAnswer}}</span>
                    </div>
                    <div ng-if="mathCalScore.correctAnswer==='FALSE'">
                      <span class="question-answer-false bold">{{mathCalScore.StudentAnswer}}</span>
                    </div>
                  </div>
                  <div class="question-table-cell">
                    <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(mathCalScore)" ng-model="mathCalScore.adjustedAnswer" maxlength="1">
                  </div>
                  <div class="question-table-cell vertical-align">
                    <span class="question-difficulty" ng-if="mathCalScore.diffLevel==='E'">
                      <div class="question-difficulty-icon easy"></div>
                    </span>
                    <span class="question-difficulty" ng-if="mathCalScore.diffLevel==='M'">
                      <div class="question-difficulty-icon med"></div>
                    </span>
                    <span class="question-difficulty" ng-if="mathCalScore.diffLevel==='H'">
                      <div class="question-difficulty-icon hard"></div>
                    </span>
                  </div>
                  <!-- <div class="question-table-cell question-subscore">{{mathCalScore.BudgetTime}}</div> -->
                  <div class="question-table-cell-duration">
                    <div ng-if="mathCalScore.correctAnswer==='FALSE'">
                      <div class="bold" style="color:blue">{{mathCalScore.duration}}</div>
                    </div>
                    <div ng-if="mathCalScore.correctAnswer==='TRUE'">
                      <div class="">{{mathCalScore.duration}}</div>
                    </div>
                  </div>
                  <div class="question-table-cell question-subscore">{{mathCalScore.subscore}}</div>
                  <div class="question-table-cell-last">{{mathCalScore.CrossReferenceScore}}</div>
                </div>
              </div>
            </div>
          </div>
          <!--legend-->
          <div class="row" style="margin:0px">
            <div class="col-md-6" style="padding-left:30px">
              <!-- <div style="margin-top:20px;font-weight:bold;font-size:20px">
                Key:
              </div> -->
              <div class="question-legend-table">
                <div class="question-table-rows-no-center">
                  <div class="question-legend-key">Key:</div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-icon"><i class="fa fa-check"></i></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Correct</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell red"><i class="fa fa-ban"></i></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Omitted</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell"><div class="bold">U</div></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Unscorable</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell vertical-align">
                    <span class="question-legend-difficulty">
                      <div class="question-legend-difficulty-icon easy" style="background: #00B867"></div>
                    </span>
                  </div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Easy</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell vertical-align">
                    <span class="question-legend-difficulty">
                      <div class="question-legend-difficulty-icon med" style="background: #EDC500"></div>
                    </span>
                  </div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Medium</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell vertical-align">
                    <span class="question-legend-difficulty">
                      <div class="question-legend-difficulty-icon hard" style="background: red"></div>
                    </span>
                  </div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Hard</div></div>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="padding-left:30px">
              <div class="question-legend-subscore-table">
                <div class="question-table-rows-no-center">
                  <div class="question-legend-subscore-title">Subscore:</div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell max-width"><div class="bold">COE</div></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Command of Evidence</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell max-width"><div class="bold">WIC</div></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Words in Context</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell max-width"><div class="bold">EOI</div></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Expressions of Ideas</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell max-width"><div class="bold">SEC</div></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Standard English Conventions</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell max-width"><div class="bold">HOA</div></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Heart of Algebra</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell max-width"><div class="bold">PSD</div></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Problem Solving and Data Analysis</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell max-width"><div class="bold">PAM</div></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Passport to Advanced Math</div></div>
                </div>
              </div>
              <div class="question-legend-subscore-table">
                <div class="question-table-rows-no-center">
                  <div class="question-legend-subscore-title nowrap">Cross-Test Score:</div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell max-width"><div class="bold">HSS</div></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Analysis in History/Social Studies</div></div>
                </div>
                <div class="question-table-rows-no-center">
                  <div class="question-legend-table-cell max-width"><div class="bold">SCI</div></div>
                  <div class="question-legend-table-cell"><div class="question-legend-text-padding">Analysis in Science</div></div>
                </div>
              </div>
            </div>
          </div>
          <!--end legend-->
          <!--info box-->
          <div class="row" style="margin:0px">
            <div style="width:100%;">
              <div id="test-score-wording" style="margin-left:15px;margin-right:15px">
                <span class="bold">Student Name:</span> {{totalScores.studentName}}</br>
                <span class="bold">Student ID:</span> {{totalScores.studentid}}</br>
                <span class="bold">Grade:</span> {{totalScores.Grade}}</br>
                <span class="bold">School Name:</span> {{totalScores.SchoolName}}</br>
                <span class="bold">School Code:</span> {{totalScores.SchoolCode}}</br>
                <span class="bold">Test #:</span> {{totalScores.testNumber}}</br>
                <!-- <span class="bold">Test Score:</span> {{totalScores.TotalPSATScore}}</br> -->
                <span class="bold">Test Date:</span> {{totalScores.testDate}}
              </div>
            </div>
          </div>
          <!--end info box-->
        </div>
        <div style="clear:both"></div>
      </div>
    </div>
  </div>
</div>
