<div id="report">
  <div class="container page-padding admin-width">
    <div id="print-section-1">
    <div class="row">
      <div class="col-md-12 page-header" style="margin-bottom:0">
        Welcome {{adminID}}
      </div>
      <div class="col-md-12 text-center font-md" style="margin-bottom:20px">
        You are viewing report for <span class="bold">{{studentInfo.StudentName}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 section-border-right">
        <div id="total-score-section">
          <div class="section-title">
            Your Evidence-Based</br>Reading and Writing Score
          </div>
          <div class="col-md-6 section-total-score">
            {{totalScores.TotalEvidentScore}}
          </div>
          <div class="col-md-6 section-score-range-col" style="text-align: left;font-size: 13px; padding:0 0 0 5px; line-height: 42px; color: grey">
            <span class="section-score-range">|</span>{{scoreRange.readingwritingsectionredmin}} to {{scoreRange.readingwritingsectiongreenmax}}
          </div>
          <div class="col-md-12 section-horizontal-bar"></div>
        </div>
        <div class="section-height">
          <div class="row">
            <div class="col-md-1 score-min">{{scoreRange.readingwritingsectionredmin}}</div>
            <div class="col-md-10 score-bar">
              <div class="progress progress-bar-height">
                <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': readingwritingsectionredpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': readingwritingsectionyellowpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': readingwritingsectiongreenpercentage + '%'}"></div>
              </div>
            </div>
            <div class="col-md-10 col-md-offset-1 score-bar-indicator-padding">
              <div  class="progress score-bar-indicator">
                <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': readingscoretotalpercentage + '%'}"></div>
                <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
              </div>
            </div>
            <div class="col-md-1 score-max">{{scoreRange.readingwritingsectiongreenmax}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="total-score-section">
          <div class="section-title">
            Your Total Score
          </div>
          <div id="total-score-section-title-height" class="row">
            <div class="col-md-6 psat-section-total-score">
              {{totalScores.TotalPSATScore}}
            </div>
            <div class="col-md-6 psat-section-score-range-col">
              <span class="section-score-range">|</span>320 to 1520
            </div>
            <!-- <div ng-show="recalc" class="col-md-12" style="color:red; text-align: center; font-size: 15px; font-weight: bold; line-height: 0;">
              Projected Score: {{projectedScore.projectedscore}}</div> -->
          </div>
          <div class="col-md-12 section-horizontal-bar"></div>
          <div class="col-md-12">
          <div id="psat-section-text-lg">Your NMSC Selection Index</div>
           <div class="col-md-6 psat-section-total-score">
		                {{totalScores.NMSCSelectionIndex}}*
            </div>
            <br></br><br></br>
            <div class="text-left">NMSC uses a Selection Index based on PSAT/NMSQT scores as an initial screen of students who enter its scholarship programs. To calculate your Selection index, double the sum of your Reading, Writing and Language, and Math Test Scores.</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 section-border-left">
        <div id="total-score-section">
          <div id="math-section-title">
            Your Math Score
          </div>
          <div class="col-md-6 section-total-score">
            {{totalScores.TotalMathScore}}
          </div>
          <div class="col-md-6 section-score-range-col" style="text-align: left;font-size: 13px; padding:0 0 0 5px; line-height: 42px; color: grey">
            <span class="section-score-range">|</span>{{scoreRange.mathsectionredmin}} to {{scoreRange.mathsectiongreenmax}}
          </div>
          <div class="col-md-12 section-horizontal-bar"></div>
        </div>
        <div class="section-height">
          <div class="row">
            <div class="col-md-1 score-min">{{scoreRange.mathsectionredmin}}</div>
            <div class="col-md-10 score-bar">
              <div class="progress progress-bar-height">
                <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': mathsectionredpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': mathsectionyellowpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': mathsectiongreenpercentage + '%'}"></div>
              </div>
            </div>
            <div class="col-md-10 col-md-offset-1 score-bar-indicator-padding">
              <div  class="progress score-bar-indicator">
                <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': mathscoretotalpercentage + '%'}"></div>
                <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
              </div>
            </div>
            <div class="col-md-1 score-max">{{scoreRange.mathsectiongreenmax}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row section-margin">


      <div id="section-legend" class="col-md-12 section-margin">
        <div id="section-legend-red"></div>
        <div class="bold legend-text">Need to strengthen skills</div>
        <div id="section-legend-yellow"></div>
        <div class="bold legend-text">Approaching Benchmark</div>
        <div id="section-legend-green"></div>
        <div class="bold legend-text">Meets or exceeds Benchmark</div>
      </div>
       </div>
    <div id="subscore-background" class="row">
      <div class="col-md-6">
        <div class="row">
          <span class="font-lg">Test Scores </span>{{scoreRange.readingtestredmin}} to {{scoreRange.readingtestgreenmax}} range*
          <!--READING SECTION-->
          <div class="row subscore-title">
            <span class="subscore-score">{{totalScores.TotalReadingScore}}</span> Reading
          </div>
          <!--start progress bar-->
          <div class="row test-score-bar">
            <div class="col-md-1 score-min">{{scoreRange.readingtestredmin}}</div>
            <div class="col-md-8 score-bar">
              <div class="progress progress-bar-height">
                <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': readingtestredpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': readingtestyellowpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': readingtestgreenpercentage + '%'}"></div>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-1 score-bar-indicator-padding">
              <div  class="progress score-bar-indicator-no-margin">
                <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': readingTestScoretotalpercentage + '%'}"></div>
                <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
              </div>
            </div>
            <div class="col-md-1 score-max">{{scoreRange.readingtestgreenmax}}</div>
          </div>
          <div class="row test-score-question">
            <div class="col-md-3">
              <div class="test-score-text-lg">{{sectionReadingData.TotalInSection}}</div>
              <div>Total Questions</div>
            </div>
            <div class="col-md-3">
              <div class="test-score-text-lg">{{sectionReadingData.CorrectAnswers}}</div>
              <div>Correct Answers</div>
            </div>
            <div class="col-md-3">
              <div class="test-score-text-lg">{{sectionReadingData.IncorrectAnswers}}</div>
              <div>Incorrect Answers</div>
            </div>
            <div class="col-md-3">
              <div class="test-score-text-lg">{{sectionReadingData.OmittedAnswers}}</div>
              <div>Omitted Answers</div>
            </div>
          </div>
          <div class="row test-score-horizontal-padding">
            <div class="test-score-horizontal"></div>
          </div>
          <!--end progress bar-->
          <!--WRITING AND LANGUAGE SECTION-->
          <div class="row subscore-title">
            <span class="subscore-score">{{totalScores.TotalWritingScore}}</span> Writing and Language
          </div>
          <!--start progress bar-->
          <div class="row test-score-bar">
            <div class="col-md-1 score-min">{{scoreRange.writingtestredmin}}</div>
            <div class="col-md-8 score-bar">
              <div class="progress progress-bar-height">
                <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': writingtestredpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': writingtestyellowpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': writingtestgreenpercentage + '%'}"></div>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-1 score-bar-indicator-padding">
              <div  class="progress score-bar-indicator-no-margin">
                <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': writingTestScoretotalpercentage + '%'}"></div>
                <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
              </div>
            </div>
            <div class="col-md-1 score-max">{{scoreRange.writingtestgreenmax}}</div>
          </div>
          <!--end progress bar-->
          <div class="row test-score-question">
            <div class="col-md-3">
              <div class="test-score-text-lg">{{sectionWritingData.TotalInSection}}</div>
              <div>Total Questions</div>
            </div>
            <div class="col-md-3">
              <div class="test-score-text-lg">{{sectionWritingData.CorrectAnswers}}</div>
              <div>Correct Answers</div>
            </div>
            <div class="col-md-3">
              <div class="test-score-text-lg">{{sectionWritingData.IncorrectAnswers}}</div>
              <div>Incorrect Answers</div>
            </div>
            <div class="col-md-3">
              <div class="test-score-text-lg">{{sectionWritingData.OmittedAnswers}}</div>
              <div>Omitted Answers</div>
            </div>
          </div>
          <div class="row test-score-horizontal-padding">
            <div class="test-score-horizontal"></div>
          </div>
       <span class="font-lg">Subscores </span>{{scoreRange.commandofevidenceredmin}} to {{scoreRange.commandofevidencegreenmax}} range*
	            <div class="row subscore-title">
	              <span class="subscore-score">{{subScores.TotalCommandOfEvidence}}</span> Command of Evidence
	            </div>
	            <!--start progress bar-->
	            <div class="row test-score-bar">
	              <div class="col-md-1 score-min">{{scoreRange.commandofevidenceredmin}}</div>
	              <div class="col-md-8 score-bar">
	                <div class="progress progress-bar-height">
	                  <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': commandofevidenceredpercentage + '%'}"></div>
	                  <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': commandofevidenceyellowpercentage + '%'}"></div>
	                  <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': commandofevidencegreenpercentage + '%'}"></div>
	                </div>
	              </div>
	              <div class="col-md-8 col-md-offset-1 score-bar-indicator-padding">
	                <div  class="progress score-bar-indicator-no-margin">
	                  <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': commandOfEvidencePercentage + '%'}"></div>
	                  <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
	                </div>
	              </div>
	              <div class="col-md-1 score-max">{{scoreRange.commandofevidencegreenmax}}</div>
          </div>

         <!--end progress bar-->
		          <div class="row subscore-title">
		            <span class="subscore-score">{{subScores.TotalContextWords}}</span> Words in Context
		          </div>
		          <!--start progress bar-->
		          <div class="row test-score-bar">
		            <div class="col-md-1 score-min">{{scoreRange.wordsincontextredmin}}</div>
		            <div class="col-md-8 score-bar">
		              <div class="progress progress-bar-height">
		                <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': commandofevidenceredpercentage + '%'}"></div>
		                <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': commandofevidenceyellowpercentage + '%'}"></div>
		                <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': commandofevidencegreenpercentage + '%'}"></div>
		              </div>
		            </div>
		            <div class="col-md-8 col-md-offset-1 score-bar-indicator-padding">
		              <div  class="progress score-bar-indicator-no-margin">
		                <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': contextWordsPercentage + '%'}"></div>
		                <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
		              </div>
		            </div>
		            <div class="col-md-1 score-max">{{scoreRange.wordsincontextgreenmax}}</div>
		          </div>
		          <!--end progress bar-->
		          <div class="row subscore-title">
		            <span class="subscore-score">{{subScores.TotalExpressionOfIdeas}}</span> Expression of Ideas
		          </div>
		          <!--start progress bar-->
		          <div class="row test-score-bar">
		            <div class="col-md-1 score-min">{{scoreRange.expressionofideasredmin}}</div>
		            <div class="col-md-8 score-bar">
		              <div class="progress progress-bar-height">
		                <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': expressionofideasredpercentage + '%'}"></div>
		                <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': expressionofideasyellowpercentage + '%'}"></div>
		                <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': expressionofideasgreenpercentage + '%'}"></div>
		              </div>
		            </div>
		            <div class="col-md-8 col-md-offset-1 score-bar-indicator-padding">
		              <div  class="progress score-bar-indicator-no-margin">
		                <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': expressionOfIdeasPercentage + '%'}"></div>
		                <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
		              </div>
		            </div>
		            <div class="col-md-1 score-max">{{scoreRange.expressionofideasgreenmax}}</div>
		          </div>
		          <!--end progress bar-->
		          <div class="row subscore-title">
		            <span class="subscore-score">{{subScores.TotalStandardEngish}}</span> Standard English Conventions
		          </div>
		          <!--start progress bar-->
		          <div class="row test-score-bar">
		            <div class="col-md-1 score-min">{{scoreRange.englishconventionsredmin}}</div>
		            <div class="col-md-8 score-bar">
		              <div class="progress progress-bar-height">
		                <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': englishconventionsredpercentage + '%'}"></div>
		                <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': englishconventionsyellowpercentage + '%'}"></div>
		                <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': englishconventionsgreenpercentage + '%'}"></div>
		              </div>
		            </div>
		            <div class="col-md-8 col-md-offset-1 score-bar-indicator-padding">
		              <div  class="progress score-bar-indicator-no-margin">
		                <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': standardEngPercentage + '%'}"></div>
		                <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
		              </div>
		            </div>
		            <div class="col-md-1 score-max">{{scoreRange.englishconventionsgreenmax}}</div>
		          </div>
          <!--end progress bar-->
</div>
      </div>
      <div class="col-md-6">
        <span class="font-lg">Test Scores </span>160 to 760 range*
      <!--MATH CALCULATOR SECTION-->
	            <div class="row subscore-title">
	              <span class="subscore-score">{{totalScores.TotalMathScore}}</span> Math - Calculator
	            </div>
	            <!--start progress bar-->
	            <div class="row test-score-bar">
	              <div class="col-md-1 score-min">{{scoreRange.mathsectionredmin}}</div>
	              <div class="col-md-8 score-bar">
	                <div class="progress progress-bar-height">
	                  <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': mathsectionredpercentage + '%'}"></div>
	                  <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': mathsectionyellowpercentage + '%'}"></div>
	                  <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': mathsectiongreenpercentage + '%'}"></div>
	                </div>
	              </div>
	              <div class="col-md-8 col-md-offset-1 score-bar-indicator-padding">
	                <div  class="progress score-bar-indicator-no-margin">
	                  <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': mathscoretotalpercentage + '%'}"></div>
	                  <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
	                </div>
	              </div>
	              <div class="col-md-1 score-max">{{scoreRange.mathsectiongreenmax}}</div>
	            </div>
	            <!--end progress bar-->
	            <div class="row test-score-question">
	              <div class="col-md-3" >
	                <div class="test-score-text-lg">{{sectionMathCalcData.TotalInSection}}</div>
	                <div>Total Questions</div>
	              </div>
	              <div class="col-md-3">
	                <div class="test-score-text-lg">{{sectionMathCalcData.CorrectAnswers}}</div>
	                <div>Correct Answers</div>
	              </div>
	              <div class="col-md-3">
	                <div class="test-score-text-lg">{{sectionMathCalcData.IncorrectAnswers}}</div>
	                <div>Incorrect Answers</div>
	              </div>
	              <div class="col-md-3">
	                <div class="test-score-text-lg">{{sectionMathCalcData.OmittedAnswers}}</div>
	                <div>Omitted Answers</div>
	              </div>
	            </div>
	            <div class="row test-score-horizontal-padding">
	              <div class="test-score-horizontal"></div>
	            </div>
	            <!--MATH NO CALC SECTION-->
	            <div class="row subscore-title">
	              <span class="subscore-score">{{totalScores.TotalMathScore}}</span> Math - No Calculator
	            </div>
	            <!--start progress bar-->
	            <div class="row test-score-bar">
	              <div class="col-md-1 score-min">{{scoreRange.mathsectionredmin}}</div>
	              <div class="col-md-8 score-bar">
	                <div class="progress progress-bar-height">
	                  <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': mathsectionredpercentage + '%'}"></div>
	                  <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': mathsectionyellowpercentage + '%'}"></div>
	                  <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': mathsectiongreenpercentage + '%'}"></div>
	                </div>
	              </div>
	              <div class="col-md-8 col-md-offset-1 score-bar-indicator-padding">
	                <div  class="progress score-bar-indicator-no-margin">
	                  <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': mathscoretotalpercentage + '%'}"></div>
	                  <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
	                </div>
	              </div>
	              <div class="col-md-1 score-max">{{scoreRange.mathsectiongreenmax}}</div>
	            </div>
	            <!--end progress bar-->
	            <div class="row test-score-question">
	              <div class="col-md-3" >
	                <div class="test-score-text-lg">{{sectionMathNoCalcData.TotalInSection}}</div>
	                <div>Total Questions</div>
	              </div>
	              <div class="col-md-3">
	                <div class="test-score-text-lg">{{sectionMathNoCalcData.CorrectAnswers}}</div>
	                <div>Correct Answers</div>
	              </div>
	              <div class="col-md-3">
	                <div class="test-score-text-lg">{{sectionMathNoCalcData.IncorrectAnswers}}</div>
	                <div>Incorrect Answers</div>
	              </div>
	              <div class="col-md-3">
	                <div class="test-score-text-lg">{{sectionMathNoCalcData.OmittedAnswers}}</div>
	                <div>Omitted Answers</div>
	              </div>
	            </div>
	            <div class="row test-score-horizontal-padding">
	              <div class="subscore-score"></div>
          </div>
        <div class="row">
  <div class="row test-score-horizontal-padding">
            <div class="test-score-horizontal"></div>
          </div>
<span class="font-lg">Subscores </span>{{scoreRange.commandofevidenceredmin}} to {{scoreRange.commandofevidencegreenmax}} range*
          <div class="row subscore-title">
            <span class="subscore-score">{{subScores.TotalHeartOfAlgebra}}</span> Heart of Algebra
          </div>
          <!--start progress bar-->
          <div class="row test-score-bar">
            <div class="col-md-1 score-min">{{scoreRange.algebraredmin}}</div>
            <div class="col-md-8 score-bar">
              <div class="progress progress-bar-height">
                <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': algebraredpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': algebrayellowpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': algebragreenpercentage + '%'}"></div>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-1 score-bar-indicator-padding">
              <div  class="progress score-bar-indicator-no-margin">
                <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': heartOfAlgebraPercentage + '%'}"></div>
                <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
              </div>
            </div>
            <div class="col-md-1 score-max">{{scoreRange.algebragreenmax}}</div>
          </div>
          <!--end progress bar-->
          <div class="row subscore-title">
            <span class="subscore-score">{{subScores.TotalProblemSolving}}</span> Problem Solving and Data Analysis
          </div>
          <!--start progress bar-->
          <div class="row test-score-bar">
            <div class="col-md-1 score-min">{{scoreRange.problemsolvingredmin}}</div>
            <div class="col-md-8 score-bar">
              <div class="progress progress-bar-height">
                <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': problemsolvingredpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': problemsolvingyellowpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': problemsolvinggreenpercentage + '%'}"></div>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-1 score-bar-indicator-padding">
              <div  class="progress score-bar-indicator-no-margin">
                <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': problemSolvingPercentage + '%'}"></div>
                <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
              </div>
            </div>
            <div class="col-md-1 score-max">{{scoreRange.problemsolvinggreenmax}}</div>
          </div>
          <!--end progress bar-->
          <div class="row subscore-title">
            <span class="subscore-score">{{subScores.TotalPassportAdvMath}}</span> Passport to Advanced Math
          </div>
          <!--start progress bar-->
          <div class="row test-score-bar">
            <div class="col-md-1 score-min">{{scoreRange.advancedmathredmin}}</div>
            <div class="col-md-8 score-bar">
              <div class="progress progress-bar-height">
                <div class="progress-bar progress-bar-red" role="progressbar" ng-style="{'width': advancedmathredpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-yellow" role="progressbar" ng-style="{'width': advancedmathyellowpercentage + '%'}"></div>
                <div class="progress-bar progress-bar-green" role="progressbar" ng-style="{'width': advancedmathgreenpercentage + '%'}"></div>
              </div>
            </div>
            <div class="col-md-8 col-md-offset-1 score-bar-indicator-padding">
              <div  class="progress score-bar-indicator-no-margin">
                <div class="progress-bar score-bar-indicator-position" role="progressbar" ng-style="{'width': passportAdvMathPercentage + '%'}"></div>
                <div class="progress-bar score-bar-indicator-mark" role="progressbar"></div>
              </div>
            </div>
            <div class="col-md-1 score-max">{{scoreRange.advancedmathgreenmax}}</div>
          </div>
          <!--end progress bar-->
          <div id="test-score-wording" class="col-md-8 col-md-offset-1">
            <span class="bold">Student Name:</span> {{totalScores.studentName}}</br>
            <span class="bold">Student ID:</span> {{totalScores.studentid}}</br>
            <span class="bold">Grade:</span> {{totalScores.Grade}}</br>
            <span class="bold">School Name:</span> {{totalScores.SchoolName}}</br>
            <span class="bold">School Code:</span> {{totalScores.SchoolCode}}</br>
            <span class="bold">Test #:</span> {{totalScores.testNumber}}</br>
            <span class="bold">Test Score:</span> {{totalScores.TotalPSATScore}}</br>
            <span class="bold">Test Date:</span> {{totalScores.testDate}}
          </div>
        </div>
      </div>
    </div>
    </div>
    <div id="print-section-2">
    <div class="row section-margin">
      <div class="col-md-12 font-lg section-title">
        Your Question-Level Feedback
      </div>
      <div class="col-md-12 text-center font-md" style="margin-bottom:20px">
        Change answer input below and recalculate for projected score <br>
        <span class="bold">Actual Score:</span> {{totalScores.TotalPSATScore}}
        <button class="btn btn-danger" ng-click="calculate()">Recalculate</button>
        <button class="btn btn-primary" ng-click="printToPdf()"><i class="fa fa-save"></i> Save as PDF</button>
        <span class="bold">
          Projected Score:</span> <span ng-hide="recalc">N/A</span><span ng-show="recalc" style="color:red">{{projectedScore.projectedscore}}</span>
        <!-- <span class="bold">Projected Score:</span> {{projectedScore.projectedscore}} -->
      </div>
      <!--reading-->
      <div class="col-md-3">
        <div class="col-md-12 question-icon">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color:#9C27B0"></i>
            <i class="fa fa-book fa-stack-1x fa-inverse" style="border-radius:50%;box-shadow: 0px 0px 5px 0px #9C27B0"></i>
          </span>
        </div>
        <div >
          <div class="question-table">
            <div class="question-table-rows">
              <div class="question-table-header"><div class="question-table-header-text">Question #</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Correct</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Your Answer</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Adjusted Ans.</div></div>
              <div class="question-table-header"><div class="question-table-header-text">Difficulty</div></div>
              <div class="question-table-header"><div class="question-table-header-text-budget">Budget Time</div></div>
              <div class="question-table-header"><div class="question-table-header-text-actual">Actual Time</div></div>
              <div class="question-table-header"><div class="question-table-header-text-subscore">Subscore</div></div>
              <div class="question-table-header-no-border"><div class="question-table-header-text-crosstest"> Cross-Test </br>Score</div></div>
            </div>
            <div class="question-table-rows" ng-repeat="readingScore in readingScoresArr">
              <div class="question-table-cell question-number">{{readingScore.questionNumber}}</div>
              <div class="question-table-cell">{{readingScore.answerOne}}</div>
              <div class="question-table-cell-answer">
                <div ng-if="readingScore.correctAnswer==='TRUE'">
                  <!-- <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(readingScore)" ng-model="readingScore.adjustedAnswer" placeholder="{{readingScore.StudentAnswer}}"> -->
                  <!-- <span ng-show="input" ng-init="input=true" ng-click="input=false">{{readingScore.StudentAnswer}}</span> -->
                  <span>{{readingScore.StudentAnswer}}</span>
                </div>
                <div ng-if="readingScore.correctAnswer==='FALSE'">
                  <!-- <input class="question-table-cell-input-incorrect" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(readingScore)" ng-model="readingScore.adjustedAnswer" placeholder="{{readingScore.StudentAnswer}}"> -->
                  <!-- <span class="question-answer-false bold" ng-show="input" ng-init="input=true" ng-click="input=false"> -->
                    <!-- {{readingScore.StudentAnswer}} -->
                  <!-- </span> -->
                  <span class="question-answer-false bold">{{readingScore.StudentAnswer}}</span>
                </div>
              </div>
              <div class="question-table-cell">
                <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(readingScore)" ng-model="readingScore.adjustedAnswer">
              </div>
              <div class="question-table-cell vertical-align">
                <span class="question-difficulty" ng-if="readingScore.diffLevel==='E'">
                  <div class="question-difficulty-icon easy"></div>
                </span>
                <span class="question-difficulty" ng-if="readingScore.diffLevel==='M'">
                  <div class="question-difficulty-icon med"></div>
                </span>
                <span class="question-difficulty" ng-if="readingScore.diffLevel==='H'">
                  <div class="question-difficulty-icon hard"></div>
                </span>
              </div>
              <div class="question-table-cell question-subscore">{{readingScore.BudgetTime}}</div>
              <div class="question-table-cell-duration">
                <div ng-if="readingScore.budgetTimeFlag==='TRUE'">
                  <div class="bold" style="color:blue">{{readingScore.duration}}</div>
                </div>
                <div ng-if="readingScore.budgetTimeFlag!=='TRUE'">
                  <div class="">{{readingScore.duration}}</div>
                </div>
              </div>
              <div class="question-table-cell question-subscore">{{readingScore.subscore}}</div>
              <div class="question-table-cell-last">{{readingScore.CrossReferenceScore}}</div>
            </div>
          </div>
        </div>
      </div>
      <!--WRITING-->
      <div class="col-md-3">
        <div class="col-md-12 question-icon">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color:#00BCD4"></i>
            <i class="fa fa-pencil fa-stack-1x fa-inverse" style="border-radius:50%;box-shadow: 0px 0px 5px 0px #00BCD4"></i>
          </span>
        </div>
        <div class="question-table">
          <div class="question-table-rows">
            <div class="question-table-header"><div class="question-table-header-text">Question #</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Correct</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Your Answer</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Adjusted Ans.</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Difficulty</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Budget Time</div></div>
            <div class="question-table-header"><div class="question-table-header-text-actual">Actual Time</div></div>
            <div class="question-table-header"><div class="question-table-header-text-subscore">Subscore</div></div>
            <div class="question-table-header-no-border"><div class="question-table-header-text-crosstest"> Cross-Test </br>Score</div></div>
          </div>
          <div class="question-table-rows" ng-repeat="writingLangScore in writingLangScoresArr">
            <div class="question-table-cell question-number">{{writingLangScore.questionNumber}}</div>
            <div class="question-table-cell">{{writingLangScore.answerOne}}</div>
            <div class="question-table-cell-answer">
              <div ng-if="writingLangScore.correctAnswer==='TRUE'">
                <span>{{writingLangScore.StudentAnswer}}</span>
              </div>
              <div ng-if="writingLangScore.correctAnswer==='FALSE'">
                <span class="question-answer-false bold">{{writingLangScore.StudentAnswer}}</span>
              </div>
            </div>
            <div class="question-table-cell">
              <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(writingLangScore)" ng-model="writingLangScore.adjustedAnswer">
            </div>
            <div class="question-table-cell vertical-align">
              <span class="question-difficulty" ng-if="writingLangScore.diffLevel==='E'">
                <div class="question-difficulty-icon easy"></div>
              </span>
              <span class="question-difficulty" ng-if="writingLangScore.diffLevel==='M'">
                <div class="question-difficulty-icon med"></div>
              </span>
              <span class="question-difficulty" ng-if="writingLangScore.diffLevel==='H'">
                <div class="question-difficulty-icon hard"></div>
              </span>
            </div>
            <div class="question-table-cell question-subscore">{{writingLangScore.BudgetTime}}</div>
            <div class="question-table-cell-duration">
              <div ng-if="writingLangScore.budgetTimeFlag==='TRUE'">
                <div class="bold" style="color:blue">{{writingLangScore.duration}}</div>
              </div>
              <div ng-if="writingLangScore.budgetTimeFlag!=='TRUE'">
                <div class="">{{writingLangScore.duration}}</div>
              </div>
            </div>
            <div class="question-table-cell question-subscore">{{writingLangScore.subscore}}</div>
            <div class="question-table-cell-last">{{writingLangScore.CrossReferenceScore}}</div>
          </div>
        </div>
      </div>
      <!--MATH CALCULATOR-->
      <div class="col-md-3">
        <div class="col-md-12 question-icon">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x" style="color:#FF5722"></i>
            <i class="fa fa-calculator fa-stack-1x fa-inverse" style="border-radius:50%;box-shadow: 0px 0px 5px 0px #FF5722"></i>
          </span>
        </div>
        <div class="question-table">
          <div class="question-table-rows">
            <div class="question-table-header"><div class="question-table-header-text">Question #</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Correct</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Your Answer</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Adjusted Ans.</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Difficulty</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Budget Time</div></div>
            <div class="question-table-header"><div class="question-table-header-text-actual">Actual Time</div></div>
            <div class="question-table-header"><div class="question-table-header-text-subscore">Subscore</div></div>
            <div class="question-table-header-no-border"><div class="question-table-header-text-crosstest"> Cross-Test </br>Score</div></div>
          </div>
          <div class="question-table-rows" ng-repeat="mathCalScore in mathCalScoresArr | limitTo:28">
            <div class="question-table-cell question-number">{{mathCalScore.questionNumber}}</div>
            <div class="question-table-cell">{{mathCalScore.answerOne}}</div>
            <div class="question-table-cell-answer">
              <div ng-if="mathCalScore.correctAnswer==='TRUE'">
                <span>{{mathCalScore.StudentAnswer}}</span>
              </div>
              <div ng-if="mathCalScore.correctAnswer==='FALSE'">
                <span class="question-answer-false bold">{{mathCalScore.StudentAnswer}}</span>
              </div>
            </div>
            <div class="question-table-cell">
              <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(mathCalScore)" ng-model="mathCalScore.adjustedAnswer">
            </div>
            <div class="question-table-cell vertical-align">
              <span class="question-difficulty" ng-if="mathCalScore.diffLevel==='E'">
                <div class="question-difficulty-icon easy"></div>
              </span>
              <span class="question-difficulty" ng-if="mathCalScore.diffLevel==='M'">
                <div class="question-difficulty-icon med"></div>
              </span>
              <span class="question-difficulty" ng-if="mathCalScore.diffLevel==='H'">
                <div class="question-difficulty-icon hard"></div>
              </span>
            </div>
            <div class="question-table-cell question-subscore">{{mathCalScore.BudgetTime}}</div>
            <div class="question-table-cell-duration">
              <div ng-if="mathCalScore.budgetTimeFlag==='TRUE'">
                <div class="bold" style="color:blue">{{mathCalScore.duration}}</div>
              </div>
              <div ng-if="mathCalScore.budgetTimeFlag!=='TRUE'">
                <div class="">{{mathCalScore.duration}}</div>
              </div>
            </div>
            <div class="question-table-cell question-subscore">{{mathCalScore.subscore}}</div>
            <div class="question-table-cell-last">{{mathCalScore.CrossReferenceScore}}</div>
          </div>
        </div>
        <!--questions 28 onwards-->
        <div class="question-table">
          <div class="question-table-rows">
            <div class="question-table-header"><div class="question-table-header-text">Question #</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Correct</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Your Answer</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Adjusted Ans.</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Difficulty</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Budget Time</div></div>
            <div class="question-table-header"><div class="question-table-header-text-actual">Actual Time</div></div>
            <div class="question-table-header"><div class="question-table-header-text-subscore">Subscore</div></div>
            <div class="question-table-header-no-border"><div class="question-table-header-text-crosstest"> Cross-Test </br>Score</div></div>
          </div>
          <div class="question-table-rows" ng-repeat="mathCalScore in mathCalScoresArr | limitTo: (28-mathCalScoresArr.length)">
            <div class="question-table-cell question-number">{{mathCalScore.questionNumber}}</div>
            <div class="question-table-cell">{{mathCalScore.answerOne}}</div>
            <div class="question-table-cell-answer">
              <div ng-if="mathCalScore.correctAnswer==='TRUE'">
                <span>{{mathCalScore.StudentAnswer}}</span>
              </div>
              <div ng-if="mathCalScore.correctAnswer==='FALSE'">
                <span class="question-answer-false bold">{{mathCalScore.StudentAnswer}}</span>
              </div>
            </div>
            <div class="question-table-cell">
              <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(mathCalScore)" ng-model="mathCalScore.adjustedAnswer">
            </div>
            <div class="question-table-cell vertical-align">
              <span class="question-difficulty" ng-if="mathCalScore.diffLevel==='E'">
                <div class="question-difficulty-icon easy"></div>
              </span>
              <span class="question-difficulty" ng-if="mathCalScore.diffLevel==='M'">
                <div class="question-difficulty-icon med"></div>
              </span>
              <span class="question-difficulty" ng-if="mathCalScore.diffLevel==='H'">
                <div class="question-difficulty-icon hard"></div>
              </span>
            </div>
            <div class="question-table-cell question-subscore">{{mathCalScore.BudgetTime}}</div>
            <div class="question-table-cell-duration">
              <div ng-if="mathCalScore.budgetTimeFlag==='TRUE'">
                <div class="bold" style="color:blue">{{mathCalScore.duration}}</div>
              </div>
              <div ng-if="mathCalScore.budgetTimeFlag!=='TRUE'">
                <div class="">{{mathCalScore.duration}}</div>
              </div>
            </div>
            <div class="question-table-cell question-subscore">{{mathCalScore.subscore}}</div>
            <div class="question-table-cell-last">{{mathCalScore.CrossReferenceScore}}</div>
          </div>
        </div>
      </div>
      <!--MATH NO CALCULATOR-->
      <div class="col-md-3">
        <div class="col-md-12 question-icon">
          <span class="fa-stack fa-lg">
            <i class="fa fa-calculator fa-stack-1x"></i>
            <i class="fa fa-ban fa-stack-2x text-danger"></i>
          </span>
        </div>
        <div class="question-table">
          <div class="question-table-rows">
            <div class="question-table-header"><div class="question-table-header-text">Question #</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Correct</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Your Answer</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Adjusted Ans.</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Difficulty</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Budget Time</div></div>
            <div class="question-table-header"><div class="question-table-header-text-actual">Actual Time</div></div>
            <div class="question-table-header"><div class="question-table-header-text-subscore">Subscore</div></div>
            <div class="question-table-header-no-border"><div class="question-table-header-text-crosstest"> Cross-Test </br>Score</div></div>
          </div>
          <div class="question-table-rows" ng-repeat="mathNoCalScore in mathNoCalScoresArr | limitTo:13">
            <div class="question-table-cell question-number">{{mathNoCalScore.questionNumber}}</div>
            <div class="question-table-cell">{{mathNoCalScore.answerOne}}</div>
            <div class="question-table-cell-answer">
              <div ng-if="mathNoCalScore.correctAnswer==='TRUE'">
                <span>{{mathNoCalScore.StudentAnswer}}</span>
              </div>
              <div ng-if="mathNoCalScore.correctAnswer==='FALSE'">
                <span class="question-answer-false bold">{{mathNoCalScore.StudentAnswer}}</span>
              </div>
            </div>
            <div class="question-table-cell">
              <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(mathNoCalScore)" ng-model="mathNoCalScore.adjustedAnswer">
            </div>
            <div class="question-table-cell vertical-align">
              <span class="question-difficulty" ng-if="mathNoCalScore.diffLevel==='E'">
                <div class="question-difficulty-icon easy"></div>
              </span>
              <span class="question-difficulty" ng-if="mathNoCalScore.diffLevel==='M'">
                <div class="question-difficulty-icon med"></div>
              </span>
              <span class="question-difficulty" ng-if="mathNoCalScore.diffLevel==='H'">
                <div class="question-difficulty-icon hard"></div>
              </span>
            </div>
            <div class="question-table-cell question-subscore">{{mathNoCalScore.BudgetTime}}</div>
            <div class="question-table-cell-duration">
              <div ng-if="mathNoCalScore.budgetTimeFlag==='TRUE'">
                <div class="bold" style="color:blue">{{mathNoCalScore.duration}}</div>
              </div>
              <div ng-if="mathNoCalScore.budgetTimeFlag!=='TRUE'">
                <div class="">{{mathNoCalScore.duration}}</div>
              </div>
            </div>
            <div class="question-table-cell question-subscore">{{mathNoCalScore.subscore}}</div>
            <div class="question-table-cell-last">{{mathNoCalScore.CrossReferenceScore}}</div>
          </div>
        </div>
        <!--questions 14 onwards-->
        <div class="question-table">
          <div class="question-table-rows">
            <div class="question-table-header"><div class="question-table-header-text">Question #</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Correct</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Your Answer</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Adjusted Ans.</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Difficulty</div></div>
            <div class="question-table-header"><div class="question-table-header-text">Budget Time</div></div>
            <div class="question-table-header"><div class="question-table-header-text-actual">Actual Time</div></div>
            <div class="question-table-header"><div class="question-table-header-text-subscore">Subscore</div></div>
            <div class="question-table-header-no-border"><div class="question-table-header-text-crosstest"> Cross-Test </br>Score</div></div>
          </div>
          <div class="question-table-rows" ng-repeat="mathNoCalScore in mathNoCalScoresArr | limitTo: (13-mathNoCalScoresArr.length)">
            <div class="question-table-cell question-number">{{mathNoCalScore.questionNumber}}</div>
            <div class="question-table-cell">{{mathNoCalScore.answerOne}}</div>
            <div class="question-table-cell-answer">
              <div ng-if="mathNoCalScore.correctAnswer==='TRUE'">
                <span>{{mathNoCalScore.StudentAnswer}}</span>
              </div>
              <div ng-if="mathNoCalScore.correctAnswer==='FALSE'">
                <span class="question-answer-false bold">{{mathNoCalScore.StudentAnswer}}</span>
              </div>
            </div>
            <div class="question-table-cell">
              <input class="question-table-cell-input-correct" ng-class="{'select-input': focused}" ng-init="focused = false" ng-focus="focused = true" type="text" ng-change="changeScore(mathNoCalScore)" ng-model="mathNoCalScore.adjustedAnswer">
            </div>
            <div class="question-table-cell vertical-align">
              <span class="question-difficulty" ng-if="mathNoCalScore.diffLevel==='E'">
                <div class="question-difficulty-icon easy"></div>
              </span>
              <span class="question-difficulty" ng-if="mathNoCalScore.diffLevel==='M'">
                <div class="question-difficulty-icon med"></div>
              </span>
              <span class="question-difficulty" ng-if="mathNoCalScore.diffLevel==='H'">
                <div class="question-difficulty-icon hard"></div>
              </span>
            </div>
            <div class="question-table-cell question-subscore">{{mathNoCalScore.BudgetTime}}</div>
            <div class="question-table-cell-duration">
              <div ng-if="mathNoCalScore.budgetTimeFlag==='TRUE'">
                <div class="bold" style="color:blue">{{mathNoCalScore.duration}}</div>
              </div>
              <div ng-if="mathNoCalScore.budgetTimeFlag!=='TRUE'">
                <div class="">{{mathNoCalScore.duration}}</div>
              </div>
            </div>
            <div class="question-table-cell question-subscore">{{mathNoCalScore.subscore}}</div>
            <div class="question-table-cell-last">{{mathNoCalScore.CrossReferenceScore}}</div>
          </div>
        </div>
        <!--end table-->
        <div class="col-md-12" style="padding-left:30px">
          <!-- <div style="margin-top:20px;font-weight:bold;font-size:20px">
            Key:
          </div> -->
          <div class="question-legend-table">
            <div class="question-table-rows-no-center">
              <div class="question-legend-key">Key:</div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-icon"><i class="fa fa-check"></i></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Correct</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell red"><i class="fa fa-ban"></i></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Omitted</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell"><div class="bold">U</div></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Unscorable</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell vertical-align">
                <span class="question-legend-difficulty">
                  <div class="question-legend-difficulty-icon easy" style="background: #00B867"></div>
                </span>
              </div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Easy</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell vertical-align">
                <span class="question-legend-difficulty">
                  <div class="question-legend-difficulty-icon med" style="background: #EDC500"></div>
                </span>
              </div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Medium</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell vertical-align">
                <span class="question-legend-difficulty">
                  <div class="question-legend-difficulty-icon hard" style="background: red"></div>
                </span>
              </div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Hard</div></div>
            </div>
          </div>
          <div class="question-legend-subscore-table">
            <div class="question-table-rows-no-center">
              <div class="question-legend-subscore-title">Subscore:</div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell max-width"><div class="bold">COE</div></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Command of Evidence</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell max-width"><div class="bold">WIC</div></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Words in Context</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell max-width"><div class="bold">EOI</div></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Expressions of Ideas</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell max-width"><div class="bold">SEC</div></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Standard English Conventions</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell max-width"><div class="bold">HOA</div></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Heart of Algebra</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell max-width"><div class="bold">PSD</div></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Problem Solving and Data Analysis</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell max-width"><div class="bold">PAM</div></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Passport to Advanced Math</div></div>
            </div>
          </div>
          <div class="question-legend-subscore-table">
            <div class="question-table-rows-no-center">
              <div class="question-legend-subscore-title nowrap">Cross-Test Score:</div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell max-width"><div class="bold">HSS</div></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Analysis in History/Social Studies</div></div>
            </div>
            <div class="question-table-rows-no-center">
              <div class="question-legend-table-cell max-width"><div class="bold">SCI</div></div>
              <div class="question-legend-table-cell"><div class="question-legend-text-padding">Analysis in Science</div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-6">
        <div id="test-score-wording" style="margin-top:-285px">
          <span class="bold">Student Name:</span> {{totalScores.studentName}}</br>
          <span class="bold">Student ID:</span> {{totalScores.studentid}}</br>
          <span class="bold">Grade:</span> {{totalScores.Grade}}</br>
          <span class="bold">School Name:</span> {{totalScores.SchoolName}}</br>
          <span class="bold">School Code:</span> {{totalScores.SchoolCode}}</br>
          <span class="bold">Test #:</span> {{totalScores.testNumber}}</br>
          <span class="bold">Test Score:</span> {{totalScores.TotalPSATScore}}</br>
          <span class="bold">Test Date:</span> {{totalScores.testDate}}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
