html,
body {
  height: 100%;
  margin: 0;
  padding:0;
}

a {
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*headerNav*/
#nav {
  background-color: #5F6263;
  top: 0;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  position: fixed;
  z-index: 10
}

#nav a {
  color: white;
}

#nav a:hover {
  text-decoration: none;
  color:lightgrey;
}

.logo {
  float: left;
  padding: 0 20px;
}

.menu {
  float: right;
  padding: 0 20px;
}

.menu a {
    padding: 0 10px;
}

/*login*/
.landing{
  background-image: url(/app/images/landing.jpeg);
  background-size: cover;
  position: fixed;
  top:66px;
  bottom:0;
  height:100%;
}

/*.progress {
  background: rgba(0, 219, 142, 1);
  border: 0px
  solid rgba(219, 33, 33, 1);
  border-radius: 4px;
  height: 20px;
}
.progress-bar-custom {
  background: rgba(204, 25, 108, 1);
}*/
